@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?xtcgbg');
  src:  url('fonts/icomoon.eot?xtcgbg#iefix') format('embedded-opentype'),
    url('icomoon.ttf?xtcgbg') format('truetype'),
    url('icomoon.woff?xtcgbg') format('woff'),
    url('icomoon.svg?xtcgbg#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-github:before {
  content: "\e901";
}
.icon-chevron-small-right:before {
  content: "\e900";
}
